/* 
 * Developer by Rafael Paulino
 * http://rafapaulino.com  - webmaster@rafapaulino.com
 */

//arquivos principais do projeto que serão puxados para um único css
@import 'modules/_variables.scss';
@import 'modules/_mixins.scss';
@import 'modules/_fonts.scss';


body {
	padding: 60px;
	background-color: #eee;
} 

/* tela de login */
.login {
	padding: 60px 40px;
	background: #FFF;
	@include border-radius(30px);
	border: 1px solid #bfbbbb;

	h2 {
		margin: 0 0 10px 0;
	}
} 
label.error {
	color: #FF0000;
	margin-top: 5px;
}
.btn-popover {
	@include border-radius(100px);
	float: right;
	font-size: 17px;
	padding: 5px 10px;
	margin-top: -3px;
	margin-bottom: 5px;
}
.pagination {
	float: right;
}