body{padding:60px;background-color:#eee}.login{padding:60px 40px;background:#FFF;-webkit-border-radius:30px;-moz-border-radius:30px;-ms-border-radius:30px;border-radius:30px;border:1px solid #bfbbbb}.login h2{margin:0 0 10px 0}label.error{color:#FF0000;margin-top:5px}.btn-popover{-webkit-border-radius:100px;-moz-border-radius:100px;-ms-border-radius:100px;border-radius:100px;float:right;font-size:17px;padding:5px 10px;margin-top:-3px;margin-bottom:5px}.pagination{float:right}
/*# sourceMappingURL=app.css.map */
