{% if success is defined and success is not empty %}
	<div class="alert alert-success" role="alert"> {{ success }}</div>
{% endif %}

{% if error is defined and error is not empty %}
	<div class="alert alert-danger" role="alert"> {{ error }} </div>
{% endif %}