{% extends 'layout.html' %}
{% block body %}
{% include 'navbar.html' %}

<div class="container">
	<div class="row">
		<div class="col-md-6 col-xs-12 col-sm-6 col-md-offset-3 col-xs-offset-3">

			<div class="page-header">
			  <h1>{{ title }}</h1>
			</div>

			<ol class="breadcrumb">
			  <li><a href="list.php">Listagem de usuários</a></li>
			  <li class="active">{{ title }}</li>
			</ol>
			
			{% include 'alerts.html' %}

			<form method="post" action="{{ action }}" id="formDefault">
				<div class="panel panel-primary">
					<div class="panel-heading"><i class="fa fa-user"></i> {{ title }}</div>
					<div class="panel-body">
						<p>{{ description }}</p>


						<div class="form-group">
							<label for="username">Nome de usuário: <span class="label label-danger">Obrigatório</span></label>
							<input type="text" id="username" name="username" class="form-control" placeholder="Coloque o seu nome de usuário aqui..." required minlength="4" {% if user.username is defined and user.username is not empty %}value="{{user.username}}"{% endif %}
							>
						</div>
						
						<div class="form-group">
							<label for="password">Senha: <span class="label label-danger">Obrigatório</span></label>
							<input type="password" id="password" name="password" class="form-control" placeholder="Coloque a sua senha aqui..." required minlength="4">
						</div>

						<div class="form-group">
							<label for="password2">Confirmação de Senha: <span class="label label-danger">Obrigatório</span></label>
							<input type="password" id="password2" name="password2" class="form-control" placeholder="Coloque a sua senha aqui..." required minlength="4" equalTo="#password">
						</div>

						<div class="form-group">
							<label for="hint">Pergunta secreta: <span class="label label-danger">Obrigatório</span></label>
							<input type="text" id="hint" name="hint" class="form-control" placeholder="Coloque a sua resposta aqui..." required minlength="2" {% if user.hint is defined and user.hint is not empty %}value="{{user.hint}}"{% endif %}>
						</div>

						<div class="form-group">
							<label for="first_name">Nome: <span class="label label-danger">Obrigatório</span></label>
							<input type="text" id="first_name" name="first_name" class="form-control" placeholder="Coloque o seu nome aqui..." required minlength="3" {% if user.first_name is defined and user.first_name is not empty %}value="{{user.first_name}}"{% endif %}>
						</div>

						<div class="form-group">
							<label for="last_name">Sobrenome: <span class="label label-danger">Obrigatório</span></label>
							<input type="text" id="last_name" name="last_name" class="form-control" placeholder="Coloque o seu sobrenome aqui..." required minlength="4" {% if user.last_name is defined and user.last_name is not empty %}value="{{user.last_name}}"{% endif %}>
						</div>

						<div class="form-group">
							<label for="email">E-mail: <span class="label label-danger">Obrigatório</span></label>
							<input type="email" id="email" name="email" class="form-control" placeholder="Coloque o seu endereço de e-mail aqui..." required {% if user.email is defined and user.email is not empty %}value="{{user.email}}"{% endif %}>
						</div>

						<div class="form-group">
							<label for="born">Nascimento: <span class="label label-danger">Obrigatório</span></label>
							<input type="text" id="born" name="born" class="form-control dateTimePicker" placeholder="Coloque o seu nascimento aqui..." required minlength="10" {% if user.born is defined and user.born is not empty %}value="{{user.niceDate}}"{% endif %}>
						</div>

						<div class="form-group">
							<label for="phone">Telefone:</label>
							<input type="text" id="phone" name="phone" class="form-control" placeholder="Coloque o seu telefone aqui..." {% if user.phone is defined and user.phone is not empty %}value="{{user.phone}}"{% endif %}>
						</div>

						<div class="form-group">
							<label for="website">Site:</label>
							<input type="text" id="website" name="website" class="form-control" url="true" placeholder="Coloque o seu site aqui..." {% if user.website is defined and user.website is not empty %}value="{{user.website}}"{% endif %}>
						</div>


						<div class="form-group">
							<p><label>Configurações da conta: <span class="label label-danger">Obrigatório</span></label></p>

							<label class="checkbox-inline">
							  <input type="radio" name="settings" id="enabled" value="Enabled" required {% if user.settings is defined and user.settings == "Enabled" %}checked="checked"{% endif %}> Enabled
							</label>

							<label class="checkbox-inline">
							  <input type="radio" name="settings" id="expired" value="Expired" {% if user.settings is defined and user.settings == "Expired" %}checked="checked"{% endif %}> Expired
							</label>

							<label class="checkbox-inline">
							  <input type="radio" name="settings" id="locked" value="Locked" {% if user.settings is defined and user.settings == "Locked" %}checked="checked"{% endif %}> Locked
							</label>

							<label class="checkbox-inline">
							  <input type="radio" name="settings" id="password_expired" value="Password Expired" {% if user.settings is defined and user.settings == "Password Expired" %}checked="checked"{% endif %}> Password Expired
							</label>

						</div>

						<div class="form-group">
							<label for="roles">Permissões: <span class="label label-danger">Obrigatório</span></label>
							<select name="roles" id="roles" required multiple class="form-control">
							  <option value="ROLE_ADMIN" {% if user.roles is defined and user.roles == "ROLE_ADMIN" %}selected="selected"{% endif %}>Administrador</option>
							  <option value="ROLE_USER" {% if user.roles is defined and user.roles == "ROLE_USER" %}selected="selected"{% endif %}>Usuário</option>
							</select>
						</div>

						<button class="btn btn-lg btn-primary" type="submit">Enviar <i class="fa fa-hand-o-right"></i></button> 

						<a href="list.php" class="btn btn-lg btn-danger">Voltar <i class="fa fa-undo"></i></a> 

					</div>
				</div>
			</form>

		</div>
	</div>
</div>
{% endblock %}