{% extends 'layout.html' %}
{% block body %}
<div class="container">
	<div class="row">
		<div class="col-md-6 col-xs-12 col-sm-6 col-md-offset-3 col-xs-offset-3">

			{% include 'alerts.html' %}
			
			<form class="login" method="post" action="index.php" id="formLogin">
				<h2><i class="fa fa-lock"></i> Tela de Login</h2>
				
				<div class="form-group">
					<label for="email" class="sr-only">E-mail</label>
					<input type="email" id="email" name="email" class="form-control" placeholder="Coloque o seu endereço de e-mail aqui..." required>
				</div>

				<div class="form-group">
					<label for="password" class="sr-only">Senha</label>
					<input type="password" id="password" name="password" class="form-control" placeholder="Coloque a sua senha aqui..." required minlength="4">
				</div>

				<button class="btn btn-lg btn-primary btn-block" type="submit">Login <i class="fa fa-hand-o-right"></i></button>
			</form>

		</div>
	</div>
</div>
{% endblock %}