{% extends 'layout.html' %}
{% block body %}
{% include 'navbar.html' %}

<div class="container">
	<div class="row">
		<div class="col-md-12 col-xs-12">

			<div class="page-header">
			  <h1>Listagem de usuários</h1>
			</div>

			<ol class="breadcrumb">
			  <li class="active">Listagem de usuários</li>
			</ol>
		
			<div class="panel panel-primary">
  				<div class="panel-heading"><i class="fa fa-user"></i> Listagem de usuários</div>
  				<div class="panel-body">
  					<p>Nessa tela tela você pode editar, deletar e adicionar usuários no sistema. 

  					<button type="button" class="btn btn-primary btn-popover" data-toggle="popover" title="Ajuda" data-content="Utilize os campos abaixo para adicionar, editar e excluir usuários do sistema!" data-placement="left" data-trigger="focus"><i class="fa fa-question-circle fa-5"></i></button>
  					</p>

  					{% include 'alerts.html' %}<br><br>

  					{% if data is defined and data is not empty %}

  						<form method="post" action="del.php" id="formDel">

							<table class="table table-hover table-striped table-bordered">
								<thead>
									<tr>
										<th><input type="checkbox" value="usersCheckbox" class="checkall"></th>
										<th>Id</th>
										<th>Nome de usuário</th>
										<th>E-mail</th>
										<th>Telefone</th>
										<th>Nascimento</th>
										<th>Ver</th>
										<th>Editar</th>
										<th>Deletar</th>
									</tr>
								</thead><tbody>
								{% for user in data %}
									<tr>
										<th><input type="checkbox" name="user[]" value="{{user.id}}" id="user{{user.id}}" class="usersCheckbox"></th>
										<th scope="row">{{user.id}}</th>
										<td>{{user.username}}</td>
										<td>{{user.email}}</td>
										<td>{{user.phone}}</td>
										<td>{{user.born}}</td>
										<td><a href="view.php?id={{user.id}}" class="btn btn-info" title="Ver informações do usuário">
											<span class="glyphicon glyphicon-eye-open"></span>
										</a></td>
										<td><a href="edit.php?id={{user.id}}" class="btn btn-warning" title="Editar">
											<span class="glyphicon glyphicon-pencil"></span>
										</a></td>
										<td><a href="#" data-userid="user{{user.id}}" class="btn btn-danger btn-delete" title="Deletar este usuário">
											<span class="glyphicon glyphicon-trash"></span>
										</a></td>
									</tr>
								{% endfor %}
						      </tbody>
						    </table>

						    <div class="row">
								<div class="col-md-5 col-xs-5">
								    <br>
								    <p>
								    	<a href="add.php" class="btn btn-success" title="Adicionar Usuário"><span class="glyphicon glyphicon-plus"></span> Adicionar Usuário</a>

								    	<button type="submit" class="btn btn-danger btn-delete" title="Deletar Selecionados"><span class="glyphicon glyphicon-minus"></span> Deletar Selecionados</button>
								    </p>
								</div>
								<div class="col-md-7 col-xs-7">
									{% if pagination is defined and pagination.listOfPages|length > 1 %}
									  <ul class="pagination">
									    <li>
									      <a href="list.php?page={{pagination.firstPage}}" aria-label="First" title="Primeira Página">
									        <span aria-hidden="true">
									        	<i class="fa fa-fast-backward"></i>
									        </span>
									      </a>
									    </li>
									    <li>
									      <a href="list.php?page={{pagination.previousPage}}" aria-label="Previous" title="Página Anterior">
									        <span aria-hidden="true">
									        	<i class="fa fa-chevron-left"></i>
									        </span>
									      </a>
									    </li>
									    {% for pag in pagination.listOfPages %}
									    	<li><a href="list.php?page={{pag}}" title="Página {{pag}}">{{pag}}</a></li>
									   	{% endfor %}
									    <li>
									      <a href="list.php?page={{pagination.nextPage}}" aria-label="Next" title="Próxima Página">
									        <span aria-hidden="true">
									        	<i class="fa fa-chevron-right"></i>
									        </span>
									      </a>
									    </li>
									    <li>
									      <a href="list.php?page={{pagination.lastPage}}" aria-label="Last" title="Última Página">
									        <span aria-hidden="true">
									        	<i class="fa fa-fast-forward"></i>
									        </span>
									      </a>
									    </li>
									  </ul>
									{% endif %}
								</div>
							</div>
					    </form>

					    {% else %}
					    	<div class="alert alert-warning" role="alert"> Ops, nós não temos registros de usuários, clique no botão abaixo para adicionar um usuário!</div>

					    	<p><a href="add.php" class="btn btn-success" title="Adicionar Usuário"><span class="glyphicon glyphicon-plus"></span> Adicionar Usuário</a></p>
					    {% endif %}
				</div>
			</div>

		</div>
	</div>
</div>


<div class="modal fade" id="delete-dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">Tem certeza?</h4>
      </div>
      <div class="modal-body">
        <p>Tem certeza que você deseja deletar este(s) usuário(s)?</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-danger" id="cancelDeleteUsers" data-dismiss="modal">Cancelar</button>
        <button type="button" class="btn btn-success" id="deleteSelectedUsers">Sim</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
{% endblock %}