{% extends 'layout.html' %}
{% block body %}
{% include 'navbar.html' %}

<div class="container">
	<div class="row">
		<div class="col-md-6 col-xs-12 col-sm-6 col-md-offset-3 col-xs-offset-3">

			<div class="page-header">
			  <h1>{{ title }}</h1>
			</div>

			<ol class="breadcrumb">
			  <li><a href="list.php">Listagem de usuários</a></li>
			  <li class="active">{{ title }}</li>
			</ol>

			{% if user is defined and user is not empty %}
				<div class="panel panel-primary">
					<div class="panel-heading"><i class="fa fa-user"></i> {{ title }}</div>
					<div class="panel-body">
						<p>{{ description }}</p>


					    <ul class="nav nav-tabs" id="myTab">
					        <li class="active"><a data-toggle="tab" href="#info">Informações</a></li>
					        <li><a data-toggle="tab" href="#dados">Dados de contato</a></li>
					        <li class="dropdown">
					            <a data-toggle="dropdown" class="dropdown-toggle" href="#">Outras informações <b class="caret"></b></a>
					            <ul class="dropdown-menu">
					                <li><a data-toggle="tab" href="#config">Configurações da conta</a></li>
					                <li><a data-toggle="tab" href="#roles">Permissões</a></li>
					            </ul>
					        </li>
					    </ul>
					    <div class="tab-content" id="myTabContent">
					        <div id="info" class="tab-pane fade in active">
					            <h3>Informações:</h3>
					            <ul>
					            	<li><strong>Nome de usuário:</strong> {{user.username}}</li>
					            	<li><strong>Nome:</strong> {{user.first_name}}</li>
					            	<li><strong>Sobrenome:</strong> {{user.last_name}}</li>
					            </ul>
					        </div>
					        <div id="dados" class="tab-pane fade">
					            <h3>Dados de contato:</h3>
					            <ul>
					            	<li><strong>E-mail:</strong> {{user.email}}</li>
					            	<li><strong>Telefone:</strong> {{user.phone}}</li>
					            	<li><strong>Site:</strong> {{user.website}}</li>
					            </ul>
					        </div>
					        <div id="config" class="tab-pane fade">
					            <h3>Configurações da conta:</h3>
					        	<ul>
					            	<li><strong>Configurações:</strong> {{user.settings}}</li>
					            </ul>    
					        </div>
					        <div id="roles" class="tab-pane fade">
					            <h3>Permissões:</h3>
					            <ul>
					            	<li><strong>Configurações:</strong> {{user.roles}}</li>
					            </ul>
					        </div>
					    </div>

					    <p><a href="list.php" class="btn btn-lg btn-danger">Voltar <i class="fa fa-undo"></i></a></p>
					</div>
				</div>

			{% else %}
				<div class="alert alert-danger" role="alert"> Usuário não encontrado! </div>
			{% endif %}

		</div>
	</div>
</div>
{% endblock %}